<div class="row">
<div class="col-md-7 offset-md-2">
  <h1 class="p-3 md-2 bg-light text-dark">投稿一覧</h1>
  <!--<= current_user.last_name %>-->
</div>

<div class="row">
 <div class="col-md-8 offset-md-2">
  <table class='table'>
   <thead>
    <tr>
      <th></th>
      <th>シューズブランド</th>
      <th>シューズモデル・デザイン </th>
      <th>シューズサイズ</th>
    </tr>
  </thead>
 </div>
</div>
<% @shoes.each do |shoe| %>



 <tr>
    <th><%= shoe.id %></th>
    <th><%= ShoeBrand.find(shoe.id).brand_name %></th>
    <th>
    <%= link_to shoe_path(shoe.id) do %>
    <%= shoe.shoe_model %>
    <% end %>
    </th>
    <th><%= ShoeSize.find(shoe.id).size %></th>
 </tr>
 <% end %>
</table>
<div class="text-center">
 <ul class="pagination">
  <%= paginate(@shoes) %>
 </ul>
</div>