<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center about-heading">ShoesProud<i class="fas fa-shoe-prints"></i></h1>
    </div>
  </div>
  <div class="row">
   <div class="col">
    <div class="text-center">
      <div class="swiper-container">
      	<div class="swiper-wrapper">
      		<div class="swiper-slide"><%= image_tag 'shoes1.JPG' %></div>
      		<div class="swiper-slide"><%= image_tag 'shoes2.JPG' %></div>
      		<div class="swiper-slide"><%= image_tag 'shoes3.JPG' %></div>
      		<div class="swiper-slide"><%= image_tag 'shoes_about4.JPG' %></div>
      	</div>
      </div>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-secondary' %>
      <%= link_to "Login", new_user_session_path, class: 'btn btn-secondary' %>
      <%= link_to 'Guest_Log in（閲覧用）', homes_guest_sign_in_path, method: :post, class: 'btn btn-info' %>
   </div>
  </div>
</div>

<script>
  var mySwiper = new Swiper('.swiper-container', {
  autoplay: {
    delay: 5000,
  },
  });
</script>