<% if @plan.errors.any? %>
    <%= @plan.errors.count %>error prohibited this obj from being saved:
    <% @plan.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
<% end %>
<div class="row">
 <div class="col-md-7 offset-md-2">
  <h3 class="p-3 md-2 text-dark">Plans Create</h3>


  <%= form_with(model: @plan, local: true) do |form| %>

  <div class="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

    <div class="time">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

  <% end %>
 </div>
</div>