<div class="row">
 <div class="col-md-7 offset-md-2">
   <h3 class="p-3 md-2 text-dark">Show</h3>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>タイトル</strong>
      <%= @plan.title %>
    </p>

    <p>
      <strong>時間</strong>
      <%= @plan.start_time.strftime("%Y-%m-%d %H:%M") %>
    </p>

    <p>
      <strong>内容</strong>
      <%= @plan.content %>
    </p>

    <%= link_to 'Edit', edit_plan_path(@plan) %> |
    <%= link_to 'Back', plans_path %>
    </div>
  </div>
</div>