<div class="row">
<div class="col-md-7 offset-md-2">
  <h1 class="p-3 md-2 text-dark">投稿靴一覧</h1>

</div>
<div class="col-md-1">
<%= link_to new_shoe_path, method: :get do %>
<i class="fas fa-plus-circle fa-3x"></i>
<% end %>
</div>
</div>
<div class="row">
<div class="col-md-9 offset-md-2">
<table class='table'>
 <thead>
  <tr>
    <th></th>
    <th>投稿者</th>
    <th>シューズブランド</th>
    <th>シューズモデル・デザイン </th>
    <th>シューズサイズ</th>
    <th>いいね</th>
    <th>コメント</th>
  </tr>
 </thead>
</div>
</div>
<% @shoes.each do |shoe| %>



 <tr>
    <th><%= attachment_image_tag shoe.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"  %></th>
    <th>
     <%= link_to user_path(shoe.user.id) do %>
     <%= shoe.user.name %>
     <% end %>
    </th>
    <th><%= shoe.shoe_brand.brand_name %></th>
    <th>
     <%= link_to shoe_path(shoe.id) do %>
     <%= shoe.shoe_model %>
     <% end %>
    </th>
    <th><%= shoe.shoe_size.size %></th>
    <td>
     <!--<id="favorites_buttons_<= shoe.id %>">-->
     <!--<= render 'favorites/favorite', shoe: shoe %>-->
     　<p>♡<%=  "#{shoe.favorites.count} いいね" %></p>
    </td>
    <td><p><%=  "#{shoe.comments.count} コメント" %></p></td>
 </tr>
 <% end %>
</table>
<div class="text-center">
 <ul class="pagination">
  <%= paginate(@shoes) %>
 </ul>
</div>