<div class="row">
 <div class="col-md-7 offset-md-2">
  <h1 class="p-3 md-2 text-dark">PostsList</h1>
</div>

<div class="col-md-1">
 <%= link_to new_shoe_path, method: :get do %>
 <i class="fas fa-plus-circle fa-3x"></i>
 <% end %>
</div>
</div>
<div class="row">
 <div class="col-md-9 offset-md-2">
  <table class='table'>
   <thead>
    <tr>
     <th></th>
     <th>name</th>
     <th>Shoes_brand</th>
     <th>Shoes_model(design) </th>
     <th>Shoes_size</th>
     <th>favorites</th>
     <th>comments</th>
    </tr>
   </thead>
 </div>
</div>

<% @shoes.each do |shoe| %>

   <tr>
    <th><%= attachment_image_tag shoe.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"  %></th>
    <th>
      <%= link_to user_path(shoe.user.id) do %>
      <%= shoe.user.name %>
      <% end %>
    </th>
    <th><%= shoe.shoe_brand.brand_name %></th>
    <th>
     <%= link_to shoe_path(shoe.id) do %>
     <%= shoe.shoe_model %>
     <% end %>
    </th>
    <th><%= shoe.shoe_size.size %></th>
    <td>
     　♡<%=  "#{shoe.favorites.count} いいね" %>
    </td>
    <td><p><%=  "#{shoe.comments.count} コメント" %></p></td>
    <% if shoe.user==current_user %>
    <td><%= link_to "Edit", edit_shoe_path(shoe.id), class: "btn btn-sm btn-success" %></td>
    <td><%= link_to 'Destroy', shoe_path(shoe), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_shoe_#{shoe.id}"%></td>
    <% end %>
  </tr>
<% end %>
</table>

<div class="paginate">
 <%= paginate(@shoes) %>
</div>