<!DOCTYPE html>
<html>
  <head>
    <title>Shoesproud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  </head>

    <body>
     <header class="bg-dark text-white">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to "ShoesProud", root_path, class: 'navbar-brand text-white' %><i class="fas fa-shoe-prints text-white"></i>
          <ul class="navbar-nav ml-auto">
     <% if user_signed_in? %>
      <li>
        <%= link_to 'MyPage', user_path(current_user.id),class: 'fas fa-user-tie nav-link text-light' %>
     </li>
     <li>
        <%= link_to 'PostsList', shoes_path,class: 'fas fa-images nav-link text-light' %>
     </li>
     <li>
        <%= link_to 'NewPost', new_shoe_path,class: 'fas fa-edit nav-link text-light' %>
      </li>
      <li>
        <%= link_to "Users", users_path,class: 'fas fa-users nav-link text-light' %>
      </li>
      <li>
        <%= link_to "logout", destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %>
      </li>
      <li>
      <%= render 'searches/search' %>
        <div class= "container-fluid">
         <div class=  "row.py-5.w-100">
          <div class=  "jscroll">
          </div>
         </div>
        </div>
      </li>
     <li>
    <% else %>
      <li>
        <%= link_to "Home", root_path,class: 'fas fa-home nav-link text-light' %>
      </li>
      <li>
        <%= link_to "About", home_about_path,class: 'fas fa-link nav-link text-light' %>
      </li>
      <li>
        <%= link_to "Sign up", new_user_registration_path,class: 'fas fa-user-plus nav-link text-light' %>
      </li>
      <li>
        <%= link_to "Login", new_user_session_path, class: 'fas fa-sign-in-alt nav-link text-light' %>
      </li>
       <% end %>
        </ul>
      </div>
     </nav>
    </header>
    <%= yield %>
      <footer class="text-secondary pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <a href="https://1111216843b342ed99b5e18e0763f564.vfs.cloud9.ap-northeast-1.amazonaws.com/" title="Home" class="fas fa-home">Home</a>
            <a href="https://1111216843b342ed99b5e18e0763f564.vfs.cloud9.ap-northeast-1.amazonaws.com/home/about" class="fas fa-audio-description">About</a>
            <a href="mailto:hiroki.kojima0417@gmail.com" class="fas fa-envelope-square">Contact</a>
          </div>
        </div>
      <div class="text-center">
        <a class="text-body mt-2 mb-3">@2021 ShoesProud</a>
      </div>
    </footer>
  </body>
</html>
